* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.link:link {
    color: red;
}

.link:visited {
    color: green;
}

.btn {
    background: blue;
}

/* .btn:hover {
    color: #ffffff;
} */
.btn:active {
    color: #ffffff;
    background: rgb(55, 55, 238);
}

/* #userInput:focus {
    border-color: red;
    outline: none;
} */


.parent {
    width: 700px;
    height: 500px;
    background-color: greenyellow;
    /* padding: 20px 40px; */
}

.box {
    background-color: chocolate;
    height: 400px;
    /* width: 500px; */
    max-width: 600px;
    /* color: white; */
    font-size: 30px;
    /* min-width: 400px; */
    /* overflow: hidden; */
    /* overflow: scroll; */
    /* overflow-y: scroll; */
    /* margin: 20px; */
    /* margin-left: -10px; */
    padding: 20px 40px;
    /* margin: 30px 40px; */
    border: 5px dotted red;
    /* display: none; */
    display: inline-block;
}

p {
    /* width: 600px; */
    /* padding: 20px 40px 30px 50px; */
}


li{
    display: inline;
}