*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

/* 
.container{
    height: 300vh;
        background-color: black;


    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
} */

/* .box{
    width: 200px;
    height: 200px;
    background-color: teal;
    text-align: center;
    align-content: center;
    font-size: 30px;
    font-weight: bold;
} */

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows: 100px 200px 200px 100px;
    gap: 10px;
    margin: 20px;
  
}       

.item{
  
    background-color: teal;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid black;

}

.header{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: purple;
}


.sidebar{
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: blue;
}

.content-1{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: cadetblue;
}

.content-2{background-color: chocolate;}
.content-3{background-color: darkgoldenrod;}

.footer{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: goldenrod;
}