.cotainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
}
.heading{
    font-size: xx-large;
}