.parent {
    height: 100vh;
    background-color: #FBFFFF;
}

.container {
    /* background: linear-gradient(green, blue, red); */
    /* background: linear-gradient(red 10%, green 85%, blue 90%); */
    height: 300px;
    width: 300px;
    background-color: antiquewhite;
    /* border-radius: 50%; */
    /* background: linear-gradient(to top left, rgba(255, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5)); */
    /* background: radial-gradient(farthest-side at 20% 60%, rgba(255, 0, 0, 0), rgba(255, 0, 0, 0.4)); */
}

.container::before {
    content: "";
    width: 200px;
    height: 300px;
    display: block;
    background: linear-gradient(270deg, rgb(252, 252, 253), rgba(255, 255, 255, 0));
    ;
}

.container::after {
    content: "";
    /* position: absolute; */
    /* right: 0%;
    top: 0%; */
    width: 200px;
    height: 300px;
    display: block;
    background: radial-gradient(270deg, rgb(252, 252, 253), rgba(255, 255, 255, 0));
}