* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.container {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: white;
    height: 300px;
    width: 300px;
}