* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background-color: chocolate;
    padding: 70px;
    position: relative;
}


.cont {
    height: 500px;
    position: relative;
    background-color: chartreuse;
    /* margin-top: 50px; */
}

.box-1 {
    background-color: brown;
    margin-bottom: 10px;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0;

}

.box-2 {
    background-color: rgb(246, 126, 126);
    margin-bottom: 10px;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;
}

.box-3 {
    background-color: rgb(17, 190, 213);
    margin-bottom: 10px;
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 0;

}

.box-4 {
    background-color: rgb(39, 52, 148);
    margin-bottom: 10px;
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 0%;
    right: 0;
}